/* __________ MAIN __________ */
#main {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0px;
}

/* __________ HEADER __________ */
header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: -moz-linear-gradient(top, rgba(6, 9, 26, 0.95) 0%, rgba(6, 9, 26, 0.95) 10%, rgba(6, 9, 26, 0.9) 25%, rgba(6, 9, 26, 0.85) 45%, rgba(6, 9, 26, 0.8) 55%, rgba(6, 9, 26, 0.66) 70%, rgba(6, 9, 26, 0.65) 71%, rgba(6, 9, 26, 0.4) 85%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(6, 9, 26, 0.95) 0%, rgba(6, 9, 26, 0.95) 10%, rgba(6, 9, 26, 0.9) 25%, rgba(6, 9, 26, 0.85) 45%, rgba(6, 9, 26, 0.8) 55%, rgba(6, 9, 26, 0.66) 70%, rgba(6, 9, 26, 0.65) 71%, rgba(6, 9, 26, 0.4) 85%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(6, 9, 26, 0.95) 0%, rgba(6, 9, 26, 0.95) 10%, rgba(6, 9, 26, 0.9) 25%, rgba(6, 9, 26, 0.85) 45%, rgba(6, 9, 26, 0.8) 55%, rgba(6, 9, 26, 0.66) 70%, rgba(6, 9, 26, 0.65) 71%, rgba(6, 9, 26, 0.4) 85%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f206091a', endColorstr='#00000000', GradientType=0);
  margin: 0 auto;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  height: 175px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;
}

.topbar {
  padding-top: 25px;
  max-width: calc(1300px - 100px);
  margin: 0 auto;
  overflow: hidden;
}

.topbar ul, #menu-pcipal ul {
  list-style-type: none;
  overflow: hidden;
}

.topbar ul li, #menu-pcipal ul li {
  float: left;
}

.topbar ul li a, #menu-pcipal ul li a {
  display: block;
}

.topbar .social-media {
  float: left;
}

.topbar .social-media ul li a i {
  margin: 0 5px;
  color: #f02a0f;
  padding: 5px;
  min-width: 24px;
  text-align: center;
}

.topbar .social-media ul li a i:hover {
  color: #FFF;
  background-color: #f02a0f;
  border-radius: 50%;
}

.top-bar-right {
  float: right;
  overflow: hidden;
}

.topbar .carrito {
  margin-right: 15px;
  padding: 3px;
  float: left;
}

.topbar .carrito a, .topbar .carrito .total, .topbar .carrito .contador {
  margin-left: 5px;
}

.topbar .carrito a:hover {
  text-decoration: none;
}

.topbar .total, .topbar .buscador a {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #b2b2b2;
}

.topbar .fa-shopping-cart {
  color: #f02a0f;
}

.topbar .contador {
  color: #fff;
  background-color: #22556e;
  border-radius: 50%;
  font-size: 16px;
  line-height: 18px;
  padding: 0 8px;
}

.topbar .buscador {
  padding-top: 4px;
  float: left;
  margin-left: 25px;
}

.topbar .buscador a {
  color: #22556e;
}

.topbar .usuario {
  padding-top: 3px;
  margin-left: 25px;
  float: left;
}

.topbar .usuario ul li a, .topbar .usuario ul li span {
  color: #b2b2b2;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  padding: 2px;
}

.topbar .usuario .divisor {
  font-size: 16px;
  line-height: 16px;
}

/* --------- ACA EMPIEZA EL MENU PRINCIPAL ----------*/
#menu-pcipal {
  max-width: calc(1300px - 100px);
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
}

#menu-pcipal .nav-left {
  display: flex;
  order: 1;
  flex: 1 1 0%;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 10px;
  border-top: 2px solid #22556e;
  border-bottom: 2px solid #22556e;
  margin-top: 20px;
}

#menu-pcipal .logo {
  display: flex;
  order: 2;
  padding: 0 30px;
}

#menu-pcipal .nav-right {
  display: flex;
  flex: 1 1 0%;
  order: 3;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 10px;
  border-top: 2px solid #22556e;
  border-bottom: 2px solid #22556e;
  margin-top: 20px;
}

/* .top-logo {
  position: absolute;
  top: 25px;
} */
.top-logo img {
  max-width: 185px;
  height: auto;
  margin-top: -40px;
}

.nav-right ul li a, .nav-left ul li a {
  font-weight: 300;
  color: #b2b2b2;
  font-size: 28px;
  line-height: 28px;
  margin: 0 25px;
}

.nav-right ul li a:hover, .nav-left ul li a:hover,
.nav-right ul li a.active, .nav-left ul li a.active {
  color: #FFF;
  text-decoration: none;
}

/* ______ GALERIA ______*/
#carousel {
  background-image: url("../img/bg-slide-home.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.carousel-inner {
  overflow: hidden;
  padding: 250px 100px 100px 100px;
}

.producto {
  float: left;
}

.carousel-item {
  displayu: flex;
  justify-content: left;
}

.carousel-item img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.info-slide {
  float: left;
  text-align: left;
  padding-top: 35px;
  padding-left: 0px;
}

.info-slide h1 {
  font-family: 'Alfa Slab One', cursive;
  color: #FFF;
  font-size: 65px;
  line-height: 65px;
  text-transform: uppercase;
  margin-bottom: 50px;
  max-width: 400px;
}

.info-slide h3 {
  font-family: 'Alfa Slab One', cursive;
  color: #00c1de;
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 35px;
}

.info-slide span {
  display: inline-block;
  font-family: 'Teko', sans-serif;
  color: #FFF;
  font-size: 48px;
  line-height: 52px;
  font-weight: bold;
  padding: 10px 30px 5px 30px;
  border: 1px solid #FFF;
  margin-top: 30px;
}

/* _______ EMPRESA ________ */
.empresa {
  background-image: url("../img/bg-empresa.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 100px 0px;
}

.empresa .row {
  justify-content: center;
  max-width: 1120px;
  padding: 0 20px
}

.titulo {
  font-family: 'Alfa Slab One', cursive;
  font-size: 56px;
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.subtitulo {
  font-family: 'Teko', cursive;
  font-size: 34px;
  color: #FFF;
  font-weight: 300;
  margin-bottom: 50px;
}

.imagen-texto {
  overflow: hidden;
  padding: 0 4%;
  margin-bottom: 40px;
}

.imagen-texto img {
  float: left;
  padding-right: 30px;
}

.imagen-texto p:nth-of-type(1) {
  padding-top: 10px;
}

.imagen-texto p {
  font-family: 'Teko', cursive;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #FFF;
  text-align: justify;
  margin-bottom: 20px;
}

.empresa .iconos {
  overflow: hidden;
  padding-top: 15px;
}

.empresa .iconos img {
  width: auto;
  max-height: 115px;
  float: left;
  padding: 0 22px;
}

.empresa .iconos img:first-child {
  padding-left: 0px;
}

.empresa .iconos img:last-child {
  padding-right: 0px;
}

.empresa .frase-pasion {
  font-family: "Teko", sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: #FFF;
  margin: 40px 0px 10px 0px;
  text-align: center;
}

.empresa .frase-motivadora {
  font-family: 'Alfa Slab One', cursive;
  font-size: 48px;
  color: #00c1de;
  text-align: center;
}

/* _______ FORMAS DE PAGAR ________ */
.forma_de_pagar {
  min-height: 500px;
  background-image: url(../img/bg-beneficios.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.formas {
  max-width: 1120px;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 100px;
  overflow: hidden;
}

.primero, .segundo, .tercero {
  text-align: center;
  width: 33%;
  float: left;
}

.formas h2 {
  font-family: "Teko", sans-serif;
  color: #FFF;
  font-size: 46px;
  line-height: 42px;
  text-transform: uppercase;
}

.formas h3 {
  font-family: "Teko", sans-serif;
  color: #CCC;
  font-weight: 300;
  font-size: 24px;
}

.forma_de_pagar img {
  width: 150px;
  text-align: left;
  margin-bottom: 30px;
}

/* _______ MARCAS QUE ACOMPAÑAN ________ */
.marcas_acompanan {
  background-image: url(../img/bg-marcas.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.marcas {
  margin: 0 auto;
  padding: 100px 0px;
}

.marcas h2 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 36px;
  color: #333;
  text-align: center;
  padding-bottom: 50px;
}

.cada_marca {
  max-width: 1120px;
  height: auto;
  margin: 0 auto;
}

.cada_marca ul {
  overflow: hidden;
}

.cada_marca img {
  mix-blend-mode: multiply;
  filter: grayscale();
  opacity: 0.5;
  max-height: 75px;
  width: auto;
}

.cada_marca ul li {
  float: left;
  list-style: none;
  padding: 0 10px;
}

.cada_marca ul li:nth-of-type(1) {}

.elunico {
  width: 170px;
}

/* _______ FOOTER ________ */
footer {
  background-image: url(../img/bg-footer.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  padding-top: 90px;
}

footer h6 {
  font-family: "Teko", sans-serif;
  font-size: 24px;
  color: #00c1de;
  font-weight: 400;
  margin-bottom: 0px;
}

.newsletter, .ubicacion, .legales {
  text-align: center;
}

.newsletter {
  padding-bottom: 50px;
  border-bottom: 1px solid #666;
  margin: 0 auto;
}

.newsletter form {
  justify-content: center;
}

.newsletter form fieldset {
  padding-right: 10px;
}
<<<<<<< HEAD
.elunico{
  width: 170px;
}
=======

.newsletter form button {
  background-color: #f02a0f;
  border-color: #f02a0f;
  font-family: "Teko", sans-serif;
  font-size: 28px;
  line-height: 28px;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: none;
  padding: 8px 30px;
}

.newsletter form input.form-control {
  font-family: "Teko", sans-serif;
  font-size: 21px;
  color: #17a2b8;
  font-weight: 300;
}

.newsletter form button:hover {
  background-color: #00c1de;
  border-color: #00c1de;
}

.newsletter p:first-of-type {
  font-family: "Teko", sans-serif;
  font-size: 36px;
  color: #fff;
  font-weight: 400;
}

.ubicacion {
  padding-top: 60px;
  overflow: hidden;
  padding-bottom: 50px;
  border-bottom: 1px solid #666;
}

.iconos-footer {
  overflow: hidden;
  float: left;
}

.iconos-footer div {
  float: left;
  width: 33%;
}

.iconos-footer p:first-of-type {
  font-family: "Teko", sans-serif;
  font-size: 36px;
  color: #f02a0f;
  font-weight: 400;
  margin-bottom: 0px;
  text-align: left;
}

.iconos-footer p:nth-of-type(2) {
  font-family: "Teko", sans-serif;
  font-size: 32px;
  line-height: 21px;
  color: #b2b2b2;
  font-weight: 300;
  text-align: left;
  margin-bottom: 50px;
}

.iconos-footer i {
  color: #fff;
  font-size: 36px;
  border: 1px solid #00c1de;
  border-radius: 50%;
  padding: 25px;
  width: 88px;
  text-align: center;
  margin-bottom: 20px;
}

.contacto small, .contacto a {
  font-family: "Teko", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #FFF;
  font-weight: 300;
}

.contacto .mapa {
  float: right;
}

.contacto {
  overflow: hidden;
}

.contacto a {
  text-decoration: none;
}

.contacto a:hover {
  text-decoration:
}

.sm-footer {
  float: left;
  margin-top: 50px;
  width: 40%;
}

.sm-footer ul {
  margin: 0px;
  padding: 0px;
}

.sm-footer ul li {
  list-style-type: none;
  display: inline;
}

.sm-footer ul li a i {
  color: #00c1de;
  width: 41px;
  text-align: center;
  padding: 10px;
}

.sm-footer ul li a i:hover {
  color: #fff;
  background-color: #00c1de;
  border-radius: 50%;
}

.legales {
  padding: 10px 0px;
}

.legales small {
  font-family: "Teko", sans-serif;
  font-size: 18px;
  color: #ccc;
  font-weight: 300;
}
>>>>>>> master
